.PersonViewer {
  grid-column: left / middle;
  grid-row: top / middle;

  /* background-color: #444; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.PersonCard {
  margin: 5%;
  display: flex;
  flex-direction: row;
}

.PersonInfo {
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
}

.PersonInfo .Name {
  font-size: 2em;
}

.PersonInfo .Room {
  font-size: 2em;
}

.Headshot {
  height: 10em;
  width: auto;
}